.buttons {
  background-color: burlywood;
  color: #fff; /
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px;
}

.buttons:hover {
  background-color: sandybrown
}