.input{
  margin-left: 100px;
  margin-top: 50px;
}

.inputResult{
  margin-top: 20px;
  margin-left: 100px;
}

.trainingResult{
  margin-right: 200px;
  margin-top: -55px;
  background: #E9BC79;
  width: fit-content;
  position: absolute;
  right: 0px;
  border: 3px solid #C28428;
  border-radius: 20px;
  padding: 10px;
}

.background{
  background: #ffebcd;
}